<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="selectNewProduct">
SELECT
       FILE_NO,
       PRODUCT_NAME,
       PRODUCT_PRICE,
       METHOD,
       CREATE_DT
  FROM
       PRODUCT
  JOIN 
       ATTACHMENT ON (REF_BNO = PRODUCT_NO)
  WHERE 
       PRODUCT_STATUS = 'Y'
   AND
       FILE_LEVEL = 1
 ORDER BY CREATE_DT DESC
       
</entry>
	
</properties>